.App {
  width: 100%;
  overflow-x: hidden;
}

main {
  padding-top: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #F0F7F4;
  color: #2D5016;
  overflow-x: hidden;
}
